<div id="comments">
        <div class="comment-box">
            <h3 id="get-in-touch">Leave A Comment</h3>
            <form id="#comment-form">
                <label for="comment-name">Name:</label>
                <input type="text" name="Name" id="comment-name" required class="input-item-form"
                    placeholder="Your name">
                <br>
                <br>
                <label for="comment-message">Comment:</label>
                <textarea name="message" id="comment-message" required cols="30" rows="10" class="input-item-form"
                    placeholder="Enter your comment here"></textarea>
                <br>
                <br>
                <!-- Submit the comment -->
                <button type="submit" class="comment-submit-btn" id="comment-submit-btn">Submit</button>
            </form>
        </div>
        <!-- Comment output -->
        <div id="comment-output">
            <p id="comment-data"></p>
        </div>
    </div>