<h1 id="page-header">Back to School Reviews</h1>

<p id="home-text">Back to school season is moving full steam ahead, with many universities and schools just a
    month away from heading back to class. This day and age, its crucial to start the year off on the right foot
    tech-wise. <br><br>Here at back to school reviews, we strive to provide students the best available products
    and prices for their schooling needs.</p>