<!-- Login Status -->
<h1 id="page-header"><%= message %></h1>

<!-- Login form -->
<div class="login">
    <form action="/" method="POST">
        <!-- Username -->
        <label for="login-username">Username:</label>
        <input type="text" name="username" required id="login-username" class="input-item-form"
            placeholder="Your username">
        <br>
        <br>
        <!-- Password -->
        <label for="login-password">Password:</label>
        <input type="password" name="password" required id="login-password" class="input-item-form"
            placeholder="Your password">
        <br>
        <br>
        <!-- Submit button -->
        <button class="submit-btn" type="submit">Submit</button>

    </form>
</div>