<h1 id="page-header">Login</h1>
<div class="login">
    <form action="/" method="POST">

        <label for="username">Username:</label>
        <input type="text" name="username" required id="contact-name" class="input-item-form"
            placeholder="Your username">
        <br>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="contact-name" required class="input-item-form"
            placeholder="Your password">
        <br>
        <br>
        <button class="submit-btn" type="submit">Submit</button>

    </form>
</div>
<div class="login-output"></div>