//Main colors.
@primary: #232C33;
@secondary: white;

//<--------- Overriding Bootstraps CSS -------->
.navbar-nav {
	text-align: center;
}

.nav-link {
	color: @primary !important;
	padding: 20px 40px !important;
}

.nav-link:hover {
	background-color: @primary !important;
	color: @secondary !important;
	border-radius: 10px;
}
//<-------------------------------------------->


//ID's and classes that are generally used on
//each page.
* {
	margin: 0px;
	padding: 0px;
	font-family: 'Varela Round', sans-serif;
}

#home-text {
	margin-left: 25%;
	margin-right: 25%;
}

#logo {
	width: 10%;
	height: 10%;
}

#body {
	background-color: @primary;
}

.page-container {
	background-color: @primary;
}

footer {
	color: @secondary;
	text-align: center;
	padding: 30px;
	padding-top: 4%;
}


.main-container {
	padding-top: 10%;
	color: @secondary;
	width: 100%;
}

#page-header {
	padding-bottom: 50px;
	text-align: center;
	margin-top: -5%;
}

label {
	color: @primary;
	padding-left: 5px;
}


//<--------- Contact page form & login form ----------->
.contact, .login {
	width: 500px;
	background: @secondary;
	padding: 40px;
	margin: auto;
	margin-top: -5%;
	border-radius: 30px;
	form {
		width: 100%;
		input {
			width: 100%;
		}
		button {
			width: 100%;
		}
	}
	.input-item-form {
		width: 100%;
		padding: 15px;
		box-sizing: border-box;
		background: #d3d6da; //darker white
		border: 0;
		border-radius: 30px;
		outline: none;
	}
	#contact-message {
		height: 125px;
		border-radius: 15px;
		resize: none;
	}
}

.submit-btn {
	background: @primary;
	padding: 12px;
	border: 0;
	color: @secondary;
	border-radius: 25px;
	cursor: pointer;
	outline: none;
	&:hover {
		background-color: #4c5055;
	}
}


.login {
	margin-top: 1% !important;
}

#get-in-touch {
	margin-bottom: 25px;
	text-align: center;
	color: @primary;
}
// <------------------------------------>


//<------- RateYO Stars CSS ------->
.jq-ry-container {
	position: relative;
	margin: auto;
	padding: 0 5px;
	line-height: 0;
	display: block;
	cursor: pointer;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	direction: ltr;
  }
  .jq-ry-container[readonly="readonly"] {
	cursor: default;
  }
  .jq-ry-container > .jq-ry-group-wrapper {
	position: relative;
	width: 100%;
  }
  .jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group {
	position: relative;
	line-height: 0;
	z-index: 10;
	white-space: nowrap;
  }
  .jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group > svg {
	display: inline-block;
  }
  .jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-normal-group {
	width: 100%;
  }
  .jq-ry-container > .jq-ry-group-wrapper > .jq-ry-group.jq-ry-rated-group {
	width: 0;
	z-index: 11;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
  }
// <-------------------------------------------------------------------------->



//<--------------- Formats the items loaded from the json file -------->
.item {
	.computer-pic {
		width: 30%;
		height: 30%;
	}

	margin-left: 20%;
	margin-right: 20%;
	margin-top: 2%;
	text-align: center;
	border-radius: 10px;
	padding: 2%;
	background-color: @secondary;
	color: @primary;
	.info {
		.name {
			color: @primary;
			font-size: 20px;
			font-weight: bold;
		}
		.buy {
			a {
				text-decoration: none;
				color: @primary;
				font-weight: bold;
				&:hover {
					color: rgb(106, 116, 124);
				}
			}
		}
	}
}
// <-------------------------------------------------------->



// <---------------- Comment CSS --------------->
#comment-avatar {
	width: 7.5%;
	height: 7.5%;
}

#comments-header {
	padding-bottom: 50px;
	text-align: center;
	margin-top: -5%;
}
.comment-box {
	width: 20%;
	background: @secondary;
	padding: 2%;
	margin-left: 20%;
	border-radius: 30px;
	position: absolute;
	form {
		width: 100%;
	}
	.input-item-form {
		width: 100%;
		padding: 15px;
		box-sizing: border-box;
		background: #d3d6da; //darker black
		border: 0;
		border-radius: 30px;
		outline: none;
		resize: none;
	}
	#contact-message {
		height: 75px;
		border-radius: 15px;
	}
	.comment-submit-btn {
		background: @primary;
		text-align: center;
		padding: 12px;
		color: @secondary;
		border-radius: 25px;
		cursor: pointer;
		width: 100%;
		outline: none;
		border: 0;
	}
}

.comment {
	form {
		input {
			width: 100%;
		}
	}
}
.comment-submit-btn {
	&:hover {
		background-color: #4c5055;
	}
}
.each-comment {
	background-color: @secondary;
	padding: 20px;
	color: @primary;
	margin-left: 45%;
	margin-right: 20%;
	margin-top: 0.8%;
	border-radius: 20px;
}


.date {
	font-size: 10px;
}

// <------------------------------------------>

// <----------- For table and phone users --------------->
@media screen and (max-width: 1024px) {
	.comment-box {
		width: 80%;
		margin-left: 10%;
		position: relative;
		padding: 3%;
		margin-top: 3%;
		form {
			width: 80%;
			padding-left: 10%;
		}
	}
	#comment-output {
		padding-top: 20px;
	}
	.each-comment {
		margin-left: 10%;
		margin-right: 10%;
	}
	#logo {
		visibility: hidden;
	}
	.contact, .login {
		width: 80%;
	}
	.item {
		margin-left: 10%;
		margin-right: 10%;
	}
	.comment {
		form {
			input {
				width: 80%;
				padding-left: 10%;
			}
		}
	}
	iframe {
		visibility: hidden;
	}
}
// <-------------------------------------->



//<------------------- Wave effect at the top of each page -------------->
.wave {
	position: absolute;
	width: 100%;
	height: 141px;
	top: 140px;
	padding-left: 0;
	background: url(../img/wave4.png);
	animation: animate 10s linear infinite;
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 141px;
		background: url(../img/wave4.png);
		opacity: 0.4;
		animation: animate-reverse 10s linear infinite;
	}
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 141px;
		background: url(../img/wave4.png);
		opacity: 0.3;
		animation: animate 20s linear infinite;
	}
}
.wave-background {
	background-color: @secondary;
	height: 280px;
}

/* Animates the wave */
@keyframes animate {
	0% {
		background-position: 0;
	}
	100% {
		background-position: 1360px;
	}
}
/* Animates the wave but in the other direction */
@keyframes animate-reverse {
	0% {
		background-position: 1360px;
	}
	100% {
		background-position: 0;
	}
}
// <---------------------------------------------------------------->